.album_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.photos_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px 10px;
  grid-auto-rows: 10;
}

.photos_list > img {
  width: 350px;
}

@media screen and (max-width: 1000px) {
  .album_title {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .photos_list > img {
    margin: auto;
    width: 280px;
  }
}
