.album_info, .album_info_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.album_info {
    padding-bottom: 20px;
    margin-top: 40px;
    box-shadow: 0 4px 2px -2px #B2B2B2;
}

.album_info_user {
    width: 5em;
    height: 5em;
}

.album_info_user > h1 {
    font-size: 30px;
}

.user_info_title {
    margin-left: 20px;
    color: #3c4048;
}

.user_info_open {
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #00abb3;

    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: #3C4048;

    cursor: pointer;
}

.user_info_open:hover {
    color: #b2b2b2;
    transition: color 500ms;
  }