.album_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.photos_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px 10px;
  grid-auto-rows: 10;
}

.photos_list > img {
  width: 350px;
}
