body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #eaeaea;
}

.content {
  margin: 50px 100px;
}

.header {
  height: 100px;
  background-color: #00abb3;
  display: flex;
  padding-left: 70px;
}

.header_item {
  font-size: 30px;
  font-weight: 800;
  color: #3c4048;
  padding: 30px;
  margin-left: 2px;
  text-decoration: none;
  box-shadow: 0px -1px 2px #3c4048;
}

.header_item:hover {
  color: #b2b2b2;
  transition: color 500ms;
}

.title {
  font-size: 40px;
  font-weight: 800;
  color: #3c4048;
}

.blank_link {
  color: inherit;
  text-decoration: inherit;
}

.user_info_icon, .user_icon, .post_user_icon, .album_info_user {
  background-color: gray;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 800px) { 
  .content {
    margin: 20px 20px;
  }
  
  .header {
    height: 50px;
    padding-left: 20px;
  }
  
  .header_item {
    font-size: 20px;
    padding: 15px;
  }
  
  .title {
    font-size: 30px;
  }
}
