body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #eaeaea;
}

.content {
  margin: 100px;
}

.header {
  height: 100px;
  background-color: #00abb3;
  display: flex;
  padding-left: 70px;
}

.header_item {
  font-size: 30px;
  font-weight: 800;
  color: #3c4048;
  padding: 30px;
  margin-left: 2px;
  text-decoration: none;
  box-shadow: 0px -1px 2px #3c4048;
}

.header_item:hover {
  color: #b2b2b2;
  transition: color 500ms;
}
